 
<%if(locals.blog!==undefined){%>
 
 <div class="blog-inner">
            <!-- <section class="blog-title">
                <h1>BLOG INNER</h1>
            </section> -->
            <section>



            <% if(locals.user!==undefined){  
                console.dir(locals.user);
                var userID="";
                var userName=""

                if(locals.user.facebook.id!==undefined){
                    userID=locals.user.facebook.id;
                    userName=locals.user.facebook.displayName;
                }
                if(locals.user.google.id!==undefined){
                    userID=locals.user.google.id;
                    userName=locals.user.google.displayName;
                }
                if(locals.user.linkedin.id!==undefined){
                    userID=locals.user.linkedin.id;
                    userName=locals.user.linkedin.displayName;
                }

            %>

            <input type="hiden" id="username" value="<%=userName%>">
            <input type="hiden" id="userid" value="<%=userID%>">
            
            <% } %>
                <div class="container">
                    <div class="blog-content col-xs-12">
                        <h2 id="inner-blog-title"><%=locals.blog.blogTitle%></h2>
                        <input type="hidden" id="blogIDContainer" value="<%=locals.blog.blogID%>">
                        <img class="stick img-thumbnail col-xs-6" src="images/stick.jpg">
                        <div class="social-icons">
                            <ul>
                                <li class="he blog-inner-social">
                                    <a >
                                        <div class="join-line-icon">
                                            <img src="images/heart-outline.svg">
                                            <div class="icon-line"></div>
                                        </div>
                                    </a>
                                </li>
                                <li class="fb blog-inner-social">
                                    <a  id="facebook">
                                        <div class="join-line-icon">
                                            <img src="images/facebook.svg">
                                            <div class="icon-line"></div>
                                        </div>
                                    </a>
                                </li>
                                <li class="tw blog-inner-social">
                                    <a  id="twitter">
                                        <div class="join-line-icon">
                                            <img src="images/twitter.svg">
                                            <div class="icon-line"></div>
                                        </div>
                                    </a>
                                </li>
                                <li class="in blog-inner-social">
                                    <a  id="linkedin">
                                        <div class="join-line-icon">
                                            <img src="images/linkedin.svg">
                                            <div class="icon-line"></div>
                                        </div>
                                    </a>
                                </li>
                                <li class="re blog-inner-social">
                                    <a id="reddit">
                                        <div class="join-line-icon">
                                            <img src="images/reddit-big-logo.svg">
                                            <div class="icon-line"></div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <p>
                                <%=locals.blog.blogInnerHTML%>
                        </p>
                    </div>
                    <div class="posts col-xs-12">
                        <div class="most-read-posts col-xs-5">
                             <h3>recent posts</h3>
                            <%
                                var sortedByDateDesc=sortByDateDesc(locals.blogArray,'effDate')
                                var max=3;
                                if(sortedByDateDesc.length<max){
                                    max=sortedByDateDesc.length;
                                }
                                for(i=0;i<max;i++){
                                    %>
                                         <a href="blogInner?blog=<%=sortedByDateDesc[i].blogID%>">
                                            <p><%=sortedByDateDesc[i].blogTitle%></p>
                                        </a>
                                    <%
                                }

                            %>


                        </div>
                        <div class="recent-posts col-xs-5">
                            <h3>most read posts</h3>
                            <%
                                var sortedByNameDesc=sortByVisits(locals.blogArray,'viewCounter')
                                var max=3;
                                if(sortedByNameDesc.length<max){
                                    max=sortedByNameDesc.length;
                                }
                                for(i=0;i<max;i++){
                                    %>
                                         <a href="blogInner?blog=<%=sortedByNameDesc[i].blogID%>">
                                            <p><%=sortedByNameDesc[i].blogTitle%></p>
                                        </a>
                                    <%
                                }

                            %>
                        </div>
                    </div>



                        <div class="container" id="commentSectionContainer">
                        <!-- <div class="row"> -->

                       
                           
                               <!--  <div class="col-sm-9 comment-bar">
                                    <div class="thumbnail ">
                                        <div class="caption comment-body" >
                                            



                                            <img src="images/user.svg" alt="...">
                                            <div class="user-name"></div>
                                            <div class="comment-text"></div>
                                            <div class="reply-and-date">
                                                <div class="view-replies">view replies</div>
                                                <div class="reply-comment">reply</div>
                                                <div class="comment-date">
                                                    <span>today at 18:27</span>
                                                </div>
                                            </div>
                                            
                                                <div class="replied-comment">
                                                    <div class="col-sm-12 comment-bar">
                                                        <div class="thumbnail ">
                                                            <div class="caption comment-body col-sm-12">
                                                                <img src="images/user.svg" alt="...">
                                                                <div class="user-name"></div>
                                                                <div class="comment-text"></div>
                                                                <div class="reply-and-date">
                                                                    <div class="reply-comment">reply</div>
                                                                    <div class="comment-date">
                                                                        <span>today at 18:27</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                          

                                        </div>
                                    </div>
                                </div> -->
                        







                    







                          <!--   <div class="col-sm-9 comment-bar">
                                <div class="thumbnail ">
                                    <div class="caption comment-body">
                                        <img src="images/user.svg" alt="...">
                                        <div class="user-name">Oz Kart</div>
                                        <div class="comment-text">OMG! I've never seen a blog like that. thanks to creators so much.</div>
                                        <div class="reply-and-date">
                                            <div class="view-replies">view replies</div>
                                            <div class="reply-comment">reply</div>
                                            <div class="comment-date">
                                                <span>today at 18:27</span>
                                            </div>
                                        </div>
                                        <div class="write-reply">
                                            <div class="col-sm-12 comment-bar">
                                                <div class="comment-body ">
                                                    <div class="input-comment col-sm-12">
                                                        <textarea rows="1" placeholder="Write a reply"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-9 comment-bar">
                                <div class="thumbnail ">
                                    <div class="caption comment-body">
                                        <img src="images/user.svg" alt="...">
                                        <div class="user-name">Oz Kart</div>
                                        <div class="comment-text">OMG! I've never seen a blog like that. thanks to creators so much.</div>
                                        <div class="reply-and-date">
                                            <div class="view-replies">view replies</div>
                                            <div class="reply-comment">reply</div>
                                            <div class="comment-date">
                                                <span>today at 18:27</span>
                                            </div>
                                        </div>
                                        <div class="replied-comment">
                                            <div class="col-sm-12 comment-bar">
                                                <div class="thumbnail ">
                                                    <div class="caption comment-body col-sm-12">
                                                        <img src="images/user.svg" alt="...">
                                                        <div class="user-name">Oz Kart</div>
                                                        <div class="comment-text">OMG! I've never seen a blog like that. thanks to creators so much. OMG! I've never seen a blog like that. thanks to creators so much.</div>
                                                        <div class="reply-and-date">
                                                            <div class="reply-comment">reply</div>
                                                            <div class="comment-date">
                                                                <span>today at 18:27</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="replied-comment">
                                            <div class="col-sm-12 comment-bar">
                                                <div class="thumbnail ">
                                                    <div class="caption comment-body col-sm-12">
                                                        <img src="images/user.svg" alt="...">
                                                        <div class="user-name">Oz Kart</div>
                                                        <div class="comment-text">OMG! I've never seen a blog like that. thanks to creators so much. OMG! I've never seen a blog like that. thanks to creators so much.</div>
                                                        <div class="reply-and-date">
                                                            <div class="reply-comment">reply</div>
                                                            <div class="comment-date">
                                                                <span>today at 18:27</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-9 comment-bar">
                                <div class="thumbnail ">
                                    <div class="caption comment-body">
                                        <img src="images/user.svg" alt="...">
                                        <div class="user-name">kapana</div>
                                        <div class="comment-text">OMG! I've never seen a blog like that. thanks to creators so much. OMG! I've never seen a blog like that. thanks to creators so much.</div>
                                        <div class="reply-and-date">
                                            <div class="view-replies">view replies</div>
                                            <div class="reply-comment">reply</div>
                                            <div class="comment-date">
                                                <span>today at 18:27</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="write-comment col-sm-9">
                                <div class="input-comment">
                                    <textarea rows="1" placeholder="Write a comment"></textarea>
                                </div>
                            </div> 



 -->
















                          <!--   
                            <div class="col-sm-9 guest-mode">
                                <div class="thumbnail">
                                    <div class="caption">
                                        <h4>You are not signed in!</h4>
                                        <div class="col-xs-5 sign-in-social ">
                                            <a href=""><p>Sign in with social</p></a>
                                            <a href="" class="social-media"><img src="images/social.png"></a>
                                        </div>
                                        <div class="col-xs-7 sign-in-guest comment">
                                            <p>Stay as guest</p>
                                            <div class="input-group col-sm-12">
                                                <span class="input-group-addon u-name" id="basic-addon1">Name</span>
                                                <input type="text" class="form-control" aria-describedby="basic-addon1">
                                                <span class="input-group-addon star" id="basic-addon2">!</span>
                                            </div>
                                            <div class="input-group col-sm-12">
                                                <span class="input-group-addon mail" id="basic-addon1">Mail</span>
                                                <input type="text" class="form-control" placeholder="Mail Will Not Be Published" aria-describedby="basic-addon1">
                                                <span class="input-group-addon star" id="basic-addon2">!</span>
                                            </div>
                                            <div class="input-group col-sm-12">
                                                <span class="input-group-addon web" id="basic-addon1">WebSite</span>
                                                <input type="text" class="form-control web-site" aria-describedby="basic-addon1">
                                                <span class="input-group-addon snowflake" id="basic-addon2">*</span>
                                            </div>
                                            <div class="submit-comment">
                                                <button type="button" class="btn btn-default col-sm-offset-4">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->



                            <!-- <div class="comment">
                                <h2>Leave a Reply</h2>
                                <div class="input-group col-sm-6">
                                    <span class="input-group-addon u-name" id="basic-addon1">Name</span>
                                    <input type="text" class="form-control" aria-describedby="basic-addon1">
                                    <span class="input-group-addon star" id="basic-addon2">!</span>
                                </div>
                                <div class="input-group col-sm-6">
                                    <span class="input-group-addon mail" id="basic-addon1">Mail</span>
                                    <input type="text" class="form-control" placeholder="Mail Will Not Be Published" aria-describedby="basic-addon1">
                                    <span class="input-group-addon star" id="basic-addon2">!</span>
                                </div>
                                <div class="input-group col-sm-6">
                                    <span class="input-group-addon web" id="basic-addon1">WebSite</span>
                                    <input type="text" class="form-control" aria-describedby="basic-addon1">
                                    <span class="input-group-addon star" id="basic-addon2">!</span>
                                </div>
                                <div class="submit-comment">
                                    <button type="button" class="btn btn-default col-sm-offset-4">Submit</button>
                                </div>
                            </div> -->
                        <!-- </div> -->
                    </div>
            </section>
            </div>
</div>

<%   } 

function sortByVisits(array, key) {
    return array.sort(function(a, b) {
        var x = parseInt(a[key]); var y = parseInt(b[key]);
        return ((x < y) ? 1 : ((x > y) ? -1 : 0));
    });
}


function sortByDateDesc(array, key) {
    return array.sort(function(a, b) {
        var x = parseInt((a[key]).substring(0,4))+parseInt((a[key]).substring(5,7))*100+parseInt((a[key]).substring(8,10)); 
        var y = parseInt((b[key]).substring(0,4))+parseInt((b[key]).substring(5,7))*100+parseInt((b[key]).substring(8,10)); 
        console.log(x + ' vs '+ y);
        return ((x < y) ? 1 : ((x > y) ? -1 : 0));
    });
}


  %>


  <script type="javascript">
    document.onload = function() {
      alert('oz');
    };
  </script>