 <div class="search-result">
            <div class="container">
                <h2>search result</h2>


                <%
                    if(locals.searchResult!==undefined){

                        for(i=0;i<locals.searchResult.length;i++){

                %>
                        <div class="result col-xs-12">
                            <div class="thumbnail">
                                <div class="centr">
                                    <div class="profile-picture">
                                       
                                        <%
                                            if(locals.searchResult[i].linkedinURL!==''){
                                        %>
                                        <script type="IN/MemberProfile" data-id="<%=locals.searchResult[i].linkedinURL%>" data-format="inline"></script>
                                                <!-- <div class="l-in">
                                                     <a href="<%=locals.searchResult[i].linkedinURL%>">View Linkedin<img src="/images/linkedin.svg"></a>
                                                </div> -->
                                        <%
                                            }else{
                                            %>
                                                <a href="">
                                                    <img class="pull-left" src="images/logo_gray.png">
                                                </a>

                                            <%
                                            }
                                        %>
                                    </div>
                                </div>
                                <div class="info col-sm-6">
                                    <ul>
                                        <li><span>title :</span><span class="title"><%=locals.searchResult[i].possition%></span></li>
                                        <li><span>name :</span><span class="name"><%=locals.searchResult[i].fullName%></span></li>
                                        <li><span>department :</span><span class="department"><%=locals.searchResult[i].department%></span></li>
                                        <li><span>company :</span><span class="company"><%=locals.searchResult[i].currentCompany%></span></li>
                                    </ul>
                                </div>
                                <div class="view-manager-profile">
                                    <a href="manager?id=<%=locals.searchResult[i].managerID%>"><p>view profile <img src="/images/view-profile.svg"></p></a>
                                </div>
                            </div>
                        </div>

                <%  
                        }
                        if(locals.searchResult.length==0){
                        %>
                            <div class="no-result">
                                <h2>Search :<span class="manager">manager</span><span class="search-word">name</span> Not Found</h2>
                            </div>

                        <%
                        }
                    }
                %>

    </div>
</div>