 <%
 var listLength=parseInt(locals.listLength);

 var is10='',is25='',is50='',is100='';
 if(listLength==10){
    is10='checked';
 }
  if(listLength==25){
    is25='checked';
 }
  if(listLength==50){
    is50='checked';
 }
  if(listLength==100){
    is100='checked';
 }
  
 %>

 <div class="top-rank">
            <section class="top-rank-title col-xs-12">
                <h1>Top Ranked Managers From Over 1000+ Companies</h1>
            </section>
            <section class="data-table">
                <div class="container">
                    <div class="top-rank-search form-search form-horizontal">
                        <div class="top-rank-search-managers">
                            <input placeholder="Search..." type="search">
                            <button type="button" class="btn btn-md">
                                <span class="glyphicon glyphicon-search"></span>&nbsp;
                            </button>
                        </div>
                        <form action="/toprank" method="GET" id="numForm"> 
                            <div class="top-rank-entries">
                                <label class="radio-inline">
                                    <input type="radio" name="optradio" <%=is10%> value="10" onchange="submitMyForm(this)">10 Entries
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="optradio" <%=is25%> value="25" onchange="submitMyForm(this)">25 Entries
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="optradio" <%=is50%> value="50" onchange="submitMyForm(this)">50 Entries
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="optradio" <%=is100%> value="100" onchange="submitMyForm(this)">100 Entries
                                </label>
                            </div>
                        </form>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Manager</th>
                                <th>Company</th>
                                <th>Recognition</th>
                                <th>Autonomy</th>
                                <th>Expectation</th>
                                <th>Mentorship</th>
                                <th>Reward</th>
                                <th>Avg Rating</th>
                            </tr>
                        </thead>
                        <tbody>
                            


                            <%  if(locals.managers!==undefined){

                                   
                                     var beginI=0;

                                    console.log('page is '+ locals.page);
                                    if(locals.page!==undefined){
                                        beginI=(parseInt(locals.page)-1)*listLength
                                    }
                                    
                                    var endI=beginI+listLength;


                                    if(locals.managers.length < endI){
                                        endI=locals.managers.length;
                                        console.log('ak shedis da rato ar vici');
                                    }
                                    console.log('begin is  '+beginI);
                                    console.log('listLength is '+listLength);
                                    console.log('array length is '+locals.managers.length);
                                    console.log('eding is ' +endI)
                                    
                                    for(i=beginI;i<endI;i++){
                                        var autTotal=0;
                                        var expTotal=0;
                                        var mentTotal=0;
                                        var rewTotal=0;
                                        var recTotal=0;

                                        var counter=0;

                                       

                                        for(k=0;k<locals.managers[i].rating.length;k++){
                                                autTotal= autTotal+parseInt(locals.managers[i].rating[k].autonomy);
                                                expTotal= expTotal+parseInt(locals.managers[i].rating[k].expectation);
                                                mentTotal= mentTotal+parseInt(locals.managers[i].rating[k].mentorship);
                                                rewTotal= rewTotal+parseInt(locals.managers[i].rating[k].reward);
                                                recTotal= recTotal+parseInt(locals.managers[i].rating[k].recognition);

                                                counter=counter+1;
                                                }
                                            var rec=(recTotal/counter).toFixed(1);
                                            var aut=(autTotal/counter).toFixed(1)
                                            var exp=(expTotal/counter).toFixed(1)
                                            var ment=(mentTotal/counter).toFixed(1)
                                            var rew=(rewTotal/counter).toFixed(1)
                                            var tot=((autTotal/counter+expTotal/counter+mentTotal/counter+rewTotal/counter+recTotal/counter)/5).toFixed(1)

                                            if(isNaN(rec)){
                                                rec='N/A'
                                            }
                                            if(isNaN(aut)){
                                                aut='N/A'
                                            }
                                            if(isNaN(exp)){
                                                exp='N/A'
                                            }
                                            if(isNaN(ment)){
                                                ment='N/A'
                                            }
                                            if(isNaN(rew)){
                                                rew='N/A'
                                            }
                                            if(isNaN(tot)){
                                                tot='N/A'
                                            }


                                            %>
                                                 <tr>
                                                    <td><%- i+1%></td>
                                                    <td><a href="manager?id=<%-locals.managers[i].managerID%>"><%- locals.managers[i].fullName%></a></td>
                                                    <td><%-locals.managers[i].currentCompany%></td>

                                                    <td><%-rec%></td>
                                                    <td><%-aut%></td>
                                                    <td><%-exp%></td>                                                
                                                    <td><%-ment%></td>
                                                    <td><%-rew%></td>
                                                    <td><%-tot%></td>
                                                </tr>
                                            <% 
                                        
                                    }

                                       
                                    

                            } 

                            %>

                           
                            <!-- <tr>
                                <td>2</td>
                                <td><a >Plator Ulqinaku</a></td>
                                <td>PricewaterhouseCoopers</td>

                                <td>5.0</td>
                                <td>5.0</td>
                                <td>5.0</td>
                                <td>5.0</td>
                                <td>5.0</td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td><a >Prasad Naga</a></td>
                                <td>PricewaterhouseCoopers</td>

                                <td>5.0</td>
                                <td>5.0</td>
                                <td>5.0</td>
                                <td>5.0</td>
                                <td>5.0</td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td><a >Michael Yokell</a></td>
                                <td>Lockheed Martin Corporation</td>

                                <td>5.0</td>
                                <td>5.0</td>
                                <td>5.0</td>
                                <td>5.0</td>
                                <td>5.0</td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td><a >Terry Gallagher</a></td>
                                <td>SeaWorld Entertainment, Inc.</td>

                                <td>4.5</td>
                                <td>2.5</td>
                                <td>3.5</td>
                                <td>3.5</td>
                                <td>4.0</td>

                                <td>3.6</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td><a >Paul Hagemaier</a></td>
                                <td>SeaWorld Entertainment, Inc.</td>

                                <td>5.0</td>
                                <td>3.0</td>
                                <td>2.0</td>
                                <td>4.0</td>
                                <td>4.0</td>

                                <td>3.6</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td><a >Sabrina Van Ness</a></td>
                                <td>SeaWorld Entertainment, Inc.</td>

                                <td>4.5</td>
                                <td>3.5</td>
                                <td>1.5</td>
                                <td>2.5</td>
                                <td>2.5</td>

                                <td>2.9</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td><a >Stacey Roney</a></td>
                                <td>Marriott Vacations Worldwide Corporation</td>

                                <td>3.0</td>
                                <td>1.0</td>
                                <td>2.0</td>
                                <td>4.0</td>
                                <td>4.0</td>

                                <td>2.8</td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td><a >Carlos Canizares</a></td>
                                <td>Frito Lay</td>

                                <td>3.0</td>
                                <td>2.0</td>
                                <td>3.0</td>
                                <td>2.0</td>
                                <td>1.0</td>

                                <td>2.2</td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td><a >Zoya Ivanova</a></td>
                                <td>Cornerstone Research</td>
                                <td>3.0</td>
                                <td>1.0</td>
                                <td>1.0</td>
                                <td>3.0</td>
                                <td>1.0</td>
                                <td>1.8</td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td><a >Kelley Emmons</a></td>
                                <td>Jp morgan chase</td>
                                <td>1.0</td>
                                <td>1.0</td>
                                <td>1.0</td>
                                <td>1.0</td>
                                <td>1.0</td>
                                <td>1</td>
                            </tr> -->
                        </tbody>
                    </table>
                    <div class="top-rank-bottom">
                        <div class="top-rank-entries-total">
                            <span>Showing 1 to 10 of 11 entries</span>
                        </div>
                        <div class="top-rank-pager">
                            <ul class="pagination">
                                <li class="disabled"><a href="#">&laquo;</a></li>
                                

                                <%  
                                    if(locals.managers!==undefined){
                                    
                                    console.log(Math.ceil(locals.managers.length/listLength));
                                        for(i=0;i<Math.ceil(locals.managers.length/listLength);i++){
                                            if(i==locals.page-1){
                                        %>
                                                <li class="active"><a href="toprank?page=<%-i+1%>&optradio=<%-listLength%>"><%-i+1%></a></li>
                                            <%}else{
                                            %>
                                                <li><a href="toprank?page=<%-i+1%>&optradio=<%-listLength%>"><%-i+1%></a></li>
                                            <%
                                            }
                                        }
                                    }

                                %>
                                


                                <!-- <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li> -->

                                <li><a href="#">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>

<script>


     function submitMyForm(ev){

        document.getElementById('numForm').submit();
     }

</script>

